<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="NICSQLTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="NICAccessTools.Properties.Settings.dbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\db.mdb" providerName="System.Data.OleDb"/>
        <add name="NICAccessTools.Properties.Settings.cfgConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\cfg.mdb" providerName="System.Data.OleDb"/>
        <add name="NICSQLTools.Properties.Settings.IC_DBConnectionString" connectionString="Data Source=.;Initial Catalog=IC_DB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <userSettings>
        <NICSQLTools.Properties.Settings>
            <setting name="L4N" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="utf-8" ?&gt;
&lt;configuration&gt;
    &lt;configSections&gt;
      &lt;section name="log4net"
          type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" /&gt;
    &lt;/configSections&gt;
    &lt;log4net&gt;

      &lt;appender name="RemotingAppender" type="log4net.Appender.RemotingAppender" &gt;
        &lt;sink value="tcp://localhost:1983/LoggingSink" /&gt;
        &lt;lossy value="false" /&gt;
        &lt;bufferSize value="1" /&gt;
        &lt;onlyFixPartialEventData value="true" /&gt;
      &lt;/appender&gt;

      &lt;appender name="LogFileAppender" type="log4net.Appender.FileAppender"&gt;
        &lt;param name="File" value="Log4Net\NICSQLToolsLog4Net.txt" /&gt;
        &lt;param name="AppendToFile" value="true" /&gt;
        &lt;layout type="log4net.Layout.PatternLayout"&gt;
          &lt;param name="Header" value="[Header]\r\n" /&gt;
          &lt;param name="Footer" value="[Footer]\r\n" /&gt;
          &lt;param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" /&gt;
        &lt;/layout&gt;
      &lt;/appender&gt;

      &lt;appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" &gt;
        &lt;layout type="log4net.Layout.PatternLayout"&gt;
          &lt;param name="Header" value="[Header]\r\n" /&gt;
          &lt;param name="Footer" value="[Footer]\r\n" /&gt;
          &lt;param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" /&gt;
        &lt;/layout&gt;
      &lt;/appender&gt;

      &lt;appender name="UdpAppender" type="log4net.Appender.UdpAppender"&gt;
        &lt;remoteAddress value="localhost" /&gt;
        &lt;remotePort value="7071" /&gt;
        &lt;layout type="log4net.Layout.XmlLayoutSchemaLog4j" /&gt;
      &lt;/appender&gt;

      &lt;root&gt;
        &lt;level value="Debug" /&gt;
        &lt;appender-ref ref="UdpAppender" /&gt;
        &lt;appender-ref ref="RemotingAppender" /&gt;
        &lt;appender-ref ref="LogFileAppender" /&gt;
      &lt;/root&gt;
    &lt;/log4net&gt;
&lt;/configuration&gt;</value>
            </setting>
        </NICSQLTools.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
